@media screen and (max-width: 680px){
    header{
        flex-direction: column;
    }

    main{
        flex-direction: column;
    }

    h2{
        font-size: 35px;
    }

    form{
        margin: 0 auto;
        width: 100%;
    }

    input{
        align-self: center;
    }

    img{
        display: none; /*usando esse display, de forma mobile(celular) a imagem não irá aparecer!*/
    }

    ul{
        text-align: center;
    }
}